<section id="conferences" class="home-section wg-featured">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4" style="position: relative; z-index: -1"></div>
            <div class="col-12 col-lg-8">
                <h1 style="border-bottom: 0; padding-bottom: 0">Conferences</h1><hr/>
                {% for talks in site.data.content.conferences %}
                    <div class="card-simple">
                        <div class="article-metadata">
                            <div>{{talks.author}}</div>
                            <div>
                                {{talks.date}}
                                <span class="middot-divider"></span>
                                <em>{{talks.place}}</em>
                            </div>
                        </div>
                        <h4>{{talks.title}}</h4>
<!--                         <object  style="min-height:40vh;" data="assets/pdf/{{talks.poster}}.pdf?#view=FitH" type='application/pdf'></object> -->
                        <embed class="article-banner" width="100%"  src="https://drive.google.com/viewerng/viewer?url=https://pmat.app/assets/pdf/{{talks.poster}}.pdf&embedded=true">
                        <p>{{talks.abstract}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
