<section id="projects" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4" style="position: relative; z-index: -1"></div>
            <div class="col-12 col-lg-8">
                <h1 style="border-bottom: 0; padding-bottom: 0">Projects</h1><hr>
                {% for projects in site.data.content.projects %}
                    <div class="card-simple">
                        <div class="article-metadata">
                            {% if projects.maintained.bool == true %}
                                <a class="badge-light" style="background-color: #135400;">
                                    Maintained
                                </a>	
                            {% else %}
                                <a class="badge-light" style="background-color: #540000;">
                                    Not Maintained since {{projects.maintained.year}}
                                </a>
                            {% endif %}
                            <a class="badge-light" style="border-top-right-radius: 25px; border-bottom-right-radius: 25px">
                                {{projects.status}}
                            </a>
                        </div>					
                        <div>
                         <a href="{{projects.link}}">
                            <img height="100%" width="100%" src="https://socialify.git.ci/{{projects.repo}}/image?description=1&logo={{projects.logo}}&font=KoHo&forks=0&issues=0&owner=1&pattern={{projects.pattern}}&pulls=0&stargazers=0&theme=Dark" />
                         </a>
                        </div>
                        <hr style="background-image: none; height: 0.1em; padding-bottom: 0; margin-bottom: 0; background-color: rgb(68, 71, 90);">
                        {% if projects.featured != null %}
                            <p>{{projects.featured}}</p>
                        {% else %}
                            <p></p>
                        {% endif %}
                        {% for tag in projects.tags %}
                            <a class="badge-light">{{tag.tag}}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
