<section id="projects" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4" style="position: relative; z-index:1"></div>
            <div class="col-12 col-lg-8">
                <h1 style="border-bottom: 0; padding-bottom: 0">Projects</h1><hr>
                {% for projects in site.data.content.projects %}
                    <div class="card-simple">
                        <div class="article-metadata">
                            {% if projects.maintained.bool == true %}
                                <a class="badge-light" style="background-color: #135400;">
                                    Maintained
                                </a>	
                            {% else %}
                                <a class="badge-light" style="background-color: #540000;">
                                    Not Maintained since {{projects.maintained.year}}
                                </a>
                            {% endif %}
                            <a class="badge-light" style="border-top-right-radius: 25px; border-bottom-right-radius: 25px">
                                {{projects.status}}
                            </a>
                        </div>					
                        <h4>
                            <a href="{{projects.link}}" target="_blank" rel="noopener" style="color: rgb(152, 166, 173)"><i class="fab fa-github small-icon"></i> {{projects.title}}</a>
                        </h4>
                        <div style="display: flex">
                            <div style="flex: 50%">
                                <p>
                                    {% include projects/{{projects.description}} %}
                                </p>
                            </div>
                            <div style="flex: 25%; display: flex; align-items: center; justify-content: center;">
                                {% if projects.imgvid contains "mp4" %}
                                    <video class="portrait" playsinline autoplay muted loop><source  src="{{projects.imgvid}}" type="video/mp4"></video>
                                {% elsif projects.imgvid contains "png" %}
                                    <img class="portrait" src="{{projects.imgvid}}">
                                {% endif %}
                            </div>
                        </div>
                        <hr style="background-image: none; height: 0.1em; padding-bottom: 0; margin-bottom: 0; background-color: rgb(68, 71, 90);">
                        {% if projects.featured != null %}
                            <p>{{projects.featured}}</p>
                        {% else %}
                            <p></p>
                        {% endif %}
                        {% for tag in projects.tags %}
                            <a class="badge-light">{{tag.tag}}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
