<section id="dev" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4" style="position: relative; z-index: -1"></div>
            <div class="col-12 col-lg-8">
                <h1  style="border-bottom: 0; padding-bottom: 0">Development Experience</h1><hr>
                <p style="text-align:center">
                {% for skill in site.data.content.skills %}
                    <span class="mdl-chip mdl-chip--contact" style="height:64px; margin-right: 5px; text-align: left;">
                        <span class="mdl-chip__contact mdl-color-text--white" style="background-color: #be6db65a; height:64px; width: 64px; line-height: 4.5">
                            <i class="material-icons {{ skill.icon }}" style="color: #aaaaaa; font-size: 35px"></i>
                        </span>
                        <span class="mdl-chip__text" style="font-size: 14px; background-color: transparent; color: #aaaaaa">
                            {{ skill.name }}
                        </span>
                    </span>
                {% endfor %}
            </p>
            </div>
        </div>
    </div>
</section>
