a:focus{
	outline:thin dotted #f89406;
	outline:5px auto #f89406;
	outline-offset:-2px}
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box}
html{
  padding-bottom: 20px;
  margin: 0px;
  font: 14px/1.47 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  }
@media (min-width: 48em){
	html{
		font-size:18px
		}
}
body{
	margin:0
	}
::-moz-selection{
	color:#fff;
	background:#000
}
::selection{
	color:#fff;
	background:#000
	}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section{
	display:block
	}
audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1
	}
audio:not([controls]){
	display:none
	}
p a{
	color:#52adc8;
	text-decoration: none;
   }
p a:hover{
    color: #00eeee;
}
h1 a, h1 a i{
    color: #fff;
    text-decoration: none;
}
h1 a:hover, h1 a:hover i{
    color: #00eeee;

}
a:hover,a:active{
	outline:0
	}
sub,sup{
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
	}
sup{
	top:-0.5em
	}
sub{
	bottom:-0.25em
	}
img{
	max-width:100%;
	width:auto\9;
	height:auto;
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic
	}
#map_canvas img,.google-maps img{
	max-width:none
	}
button,input,select,textarea{
	margin:0;
	font-size:100%;
	vertical-align:middle
	}
button,input{
	*overflow:visible;
	line-height:normal
	}
button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;
	border:0
	}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer
	}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{
	cursor:pointer
	}
input[type="search"]{
	box-sizing:content-box;
	-webkit-appearance:textfield
	}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance:none
	}
textarea{
	overflow:auto;
	vertical-align:top
	}
html{
	position:relative;
	min-height:100%
	}
body{
	margin:0;
	padding:0;
	padding-bottom:9em;
	color:#fff;
	font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	line-height:1.5
	}
body.overflow--hidden{
	overflow:hidden
	}
h1,h2,h3,h4,h5,h6{
	margin:2em 0 0.5em;
	line-height:1.2;
	font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-weight:bold
	}
h1{
	margin-top:0;
	font-size:1.563em
	}
h2{
	font-size:1.25em
	}
h3{
	font-size:1em
	}
h4{
	font-size:.75em
	}
h5{
	font-size:.75em
	}
h6{
	font-size:.75em
	}
small,.small{
	font-size:.75em
	}
p{
	margin-bottom:1.3em
	}
u,ins{
	text-decoration:none;
	border-bottom:1px solid #494e52
	}
u a,ins a{
	color:inherit
	}
del a{
	color:inherit
	}
p,pre,blockquote,ul,ol,dl,figure,table,fieldset{
	orphans:3;
	widows:3
	}
abbr[title],abbr[data-original-title]{
	text-decoration:none;
	cursor:help;
	border-bottom:1px dotted #494e52
	}
blockquote{
	margin:2em 1em 2em 0;
	padding-left:1em;
	padding-right:1em;
	font-style:italic;
	border-left:0.25em solid #7a8288
	}
blockquote cite{
	font-style:italic
	}
blockquote cite:before{
	content:"\2014";
	padding-right:5px
	}
a:hover,a:active{
	outline:0
	}
tt,code,kbd,samp,pre{
	font-family:Monaco,Consolas,"Lucida Console",monospace
	}
pre{
	overflow-x:auto
	}
p>code,a>code,li>code,figcaption>code,td>code{
	padding-top:0.1rem;
	padding-bottom:0.1rem;
	font-size:.75em;
	background:#fafafa;
	border:1px solid #f2f3f3;
	border-radius:4px;
	box-shadow:0 1px 1px rgba(0,0,0,0.125)
	}
p>code:before,p>code:after,a>code:before,a>code:after,li>code:before,li>code:after,figcaption>code:before,figcaption>code:after,td>code:before,td>code:after{
	letter-spacing:-0.2em;
	content:"\00a0"
	}
hr{
	display:block;
	margin:1em 0;
	border:0;
	border-top:1px solid #f2f3f3
	}
ul li,ol li{
	margin-bottom:0.5em
	}
li ul,li ol{
	margin-top:0.5em
	}
svg:not(:root){
	overflow:hidden
	}
nav ul{
	margin:0;
	padding:0;
	}
nav li{
	list-style:none
	}
nav a{
	text-decoration:none
	}
nav ul li,nav ol li{
	margin-bottom:0
	}
nav li ul,nav li ol{
	margin-top:0
	}
b,i,strong,em,blockquote,p,q,span,figure,img,h1,h2,header,input,a,tr,td,form button,input[type="submit"],.btn,#goog-wm-sb,.highlight,.archive__item-teaser{
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out
	}
.hidden{
	display:none;
	visibility:hidden
	}
.load{
	display:none
	}
.transparent{
	opacity:0
	}
.visually-hidden,.screen-reader-text,.screen-reader-text span,.screen-reader-shortcut{
	position:absolute !important;
	clip:rect(1px, 1px, 1px, 1px);
	height:1px !important;
	width:1px !important;
	border:0 !important;
	overflow:hidden
	}
body:hover .visually-hidden a,body:hover .visually-hidden input,body:hover .visually-hidden button{
	display:none !important
	}
.screen-reader-text:focus,.screen-reader-shortcut:focus{
	clip:auto !important;
	height:auto !important;
	width:auto !important;
	display:block;
	font-size:1em;
	font-weight:bold;
	padding:15px 23px 14px;
	background:#fff;
	z-index:100000;
	text-decoration:none;
	box-shadow:0 0 2px 2px rgba(0,0,0,0.6)
	}
.skip-link{
	position:fixed;
	z-index:20;
	margin:0;
	font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	white-space:nowrap
	}
.skip-link li{
	height:0;
	width:0;
	list-style:none
	}
.wrapper{
	max-width:925px;
	margin-left:auto;
	margin-right:auto
	}
.wrapper:after{
	content:" ";
	display:block;
	clear:both
	}
.align-left{
	display:block;
	margin-left:auto;
	margin-right:auto
	}
@media (min-width: 37.5em){
	.align-left{
		float:left;
		margin-right:1em
		}
	}
.align-right{
	display:block;
	margin-left:auto;
	margin-right:auto
	}
@media (min-width: 37.5em){
	.align-right{
		float:right;
		margin-left:1em
		}
	}
.align-center{
	display:block;
	margin-left:auto;
	margin-right:auto
	}
@media (min-width: 63.8125em){
	.full{
		margin-right:-19.4915254237% !important
		}
	}
.icon{
	display:inline-block;
	fill:currentColor;
	width:1em;
	height:1.1em;
	line-height:1;
	position:relative;
	top:-0.1em;
	vertical-align:middle
	}
.social-icons .fa{
	color:#000
	}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{
	color:#171516
	}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{
	color:#007bb6
	}
.social-icons .fa-stack-exchange,.social-icons .fa-stack-overflow{
	color:#fe7a15
	}
@media (min-width: 63.8125em){
	.sticky{
		clear:both;
		position:-webkit-sticky;
		position:sticky;
		top:2em
		}
	.sticky::after{
		clear:both;
		content:"";
		display:table
		}
	.sticky>*{
		display:block
		}
	}
.btn,#goog-wm-sb{
	display:inline-block;
	margin-bottom:0.25em;
	padding:0.5em 1em;
	color:#fff !important;
	font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-size:.75em;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	background-color:#7a8288;
	border:0 !important;
	border-radius:4px;
	cursor:pointer
	}
.btn:hover,#goog-wm-sb:hover{
	background-color:#333
	}
.btn .icon,#goog-wm-sb .icon{
	margin-right:0.5em
	}
.btn .icon+.hidden,#goog-wm-sb .icon+.hidden{
	margin-left:-0.5em
	}
.btn--block{
	display:block;
	width:100%
	}
.btn--inverse{
	color:#7a8288 !important;
	border:1px solid #bdc1c4 !important;
	margin: 0px;
	font: 14px/1.47 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.7);
	font-weight: normal;
	background: #252525;
	background-attachment: fixed !important;
	}
.btn--inverse:hover{
	color:#fff !important;
	border-color:#7a8288
	}
.masthead{
	position:relative;
	border-bottom:1px solid #f2f3f3;
	-webkit-animation:intro 0.3s both;
	animation:intro 0.3s both;
	-webkit-animation-delay:0.15s;
	animation-delay:0.15s;
	z-index:20
	}
.masthead__inner-wrap{
	max-width:925px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding:1em 1em 1em;
}
.masthead__inner-wrap:after{
	content:" ";
	display:block;
	clear:both
}
.masthead__inner-wrap::after{
	clear:both;
	content:"";
	display:table
}
@media (min-width: 80em){
	.masthead__inner-wrap{
		max-width:1280px
	}
}
.masthead__inner-wrap nav{
	z-index:10
}
.masthead__inner-wrap a{
	text-decoration:none
}
.masthead__menu ul{
	margin:0;
	padding:0;
	clear:both;
	list-style-type:none
}
.masthead__menu-item{
	display:block;
	list-style-type:none;
	white-space:nowrap
}
.masthead__menu-item--lg{
	padding-right:2em;
	font-weight:700
}
.breadcrumbs{
	max-width:925px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	margin-top:0;
	margin-bottom:0;
	padding-left:2em;
	padding-right:2em;
	-webkit-animation:intro 0.3s both;
	animation:intro 0.3s both;
	-webkit-animation-delay:0.30s;
	animation-delay:0.30s
}
.breadcrumbs:after{
	content:" ";
	display:block;
	clear:both
}
.breadcrumbs::after{
	clear:both;
	content:"";
	display:table
}
@media (min-width: 63.8125em){
	.breadcrumbs{
		padding-left:1em;
		padding-right:1em
	}
}
@media (min-width: 80em){
	.breadcrumbs{
		max-width:1280px
	}
}
.breadcrumbs ol{
	padding:0;
	list-style:none;
	font-size:.75em
}
@media (min-width: 63.8125em){.breadcrumbs ol{width:83.0508474576%;float:right;margin-right:0}}
@media (min-width: 80em){.breadcrumbs ol{padding-left:4.2372881356%}}
.breadcrumbs li{display:inline}
.breadcrumbs .current{font-weight:bold}
.page__content+.pagination,.page__meta+.pagination,.comment__date+.pagination,.page__share+.pagination,.page__comments+.pagination{margin-top:2em;padding-top:2em;border-top:1px solid #f2f3f3}
.greedy-nav{
	position:relative;
	min-width:250px;
	}
.greedy-nav a{
	display:block;
	margin:0 1rem;
	padding:0.5rem 0;
	color:#7a8288;
	}
.greedy-nav a:hover{
	color:#5c6266
	}
.greedy-nav button{
	position:absolute;
	height:100%;
	right:0;
	padding:0 0.5rem;
	border:0;
	outline:none;
	background-color:#7a8288;
	color:#fff;
	cursor:pointer
	}
.greedy-nav .visible-links{
	display:table;
	margin: 0px;
	font: 14px/1.47 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	background: #252525;
	background-attachment: fixed !important;
  }
.greedy-nav .visible-links li{
	display:table-cell;
	vertical-align:middle;
	}
.greedy-nav .visible-links li:first-child{
	font-weight:bold
	}
.greedy-nav .visible-links li:first-child a{
	margin-left:0
	}
.greedy-nav .visible-links li:last-child a{
	margin-right:0
}
.greedy-nav .visible-links a{
	position:relative
	}
.greedy-nav .visible-links li.disable a:before{
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	height:4px;
	background:#bdc1c4;
	width: 100%;
    -webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	-webkit-transform:scaleX(0);
	-ms-transform:scaleX(0);
	transform:scaleX(0)

}

.greedy-nav .visible-links li.disable a{
	color: #fff;
	border-bottom: 7px ridge #fff;
	width: 50%;
}
.greedy-nav .visible-links li.disable a:hover{
	color: #c48ef9;
	border-bottom: 7px groove #dbb7ff;
	width: 50%;
}

.greedy-nav .visible-links li.active a{
	content: "";
	color: #b7dcff;
	font-weight: bold;
	border-bottom: 7px groove #00aaff;
	text-align: center;
	width: 50%;
}
.greedy-nav .visible-links li.active a:hover{
	color: #51abff;
	border-bottom: 7px ridge #00eeff;
	width: 50%;
}

.greedy-nav .visible-links a:hover:before{
	-webkit-transform:scaleX(1);
	-ms-transform:scaleX(1);
	transform:scaleX(1)
	}
.nav__list{
	font-size:1.25rem
}
.nav__list ul{
	margin-bottom:1em
}
.nav__list a{
	display:block;
	padding:0.125em 0;
	color:inherit
}
.nav__list a:hover{
	text-decoration:underline
}
.nav__list .active{margin-left:-0.5em;padding-left:0.5em;padding-right:0.5em;color:#fff;font-weight:bold;background:#7a8288;border-radius:4px}
.nav__list .active:hover{color:#fff}
.nav__title{margin:0;padding:0.5rem 1rem;font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;font-size:1em;font-weight:bold}
.nav__sub-title{display:block;margin:0.5rem 0;padding:0.5rem 0;font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;font-size:.75em;font-weight:bold;text-transform:uppercase;border-bottom:1px solid #f2f3f3}
@media (min-width: 48em){.toc__menu li>ul li{display:block}}
.page__footer{
	clear:both;
	float:left;
	margin-left:0;
	margin-right:0;
	width:100%;
	clear:both;
	position:absolute;
	bottom:0em;
	height:auto;
	margin-top:3em;
	color:#9ba1a6;
	-webkit-animation:intro 0.3s both;
	animation:intro 0.3s both;
	-webkit-animation-delay:0.45s;
	animation-delay:0.45s;
	background-color:#f2f3f3;
	border-top:1px solid #bdc1c4
	margin: 0px;
	font: 14px/1.47 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.7);
	font-weight: normal;
	background-attachment: fixed !important;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMmEyOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMWMxYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c));
	background: -moz-linear-gradient(#2a2a29, #4f4f4f);
	background: -webkit-linear-gradient(#2a2a29, #4f4f4f);
	background: linear-gradient(#2a2a29, #4f4f4f);
	}
.page__footer::after{clear:both;content:"";display:table}
.page__footer footer{clear:both;margin-left:auto;margin-right:auto;margin-top:2em;max-width:100%;padding:0 1em 2em}
.page__footer footer::after{clear:both;content:"";display:table}
@media (min-width: 80em){.page__footer footer{max-width:1280px}}
.page__footer a{color:inherit;text-decoration:none}
.page__footer a:hover{text-decoration:underline}
.page__footer .fas,.page__footer .fab,.page__footer .far,.page__footer .fal{color:#9ba1a6}
.page__footer-follow ul{
	margin:0;
	padding:0;
	list-style-type:none;
	}
.page__footer-follow li{
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-size:.75em;
	text-transform:uppercase;
	}
.page__footer-follow li+li:before{content:"";padding-right:5px}
.page__footer-follow a{padding-right:10px;font-weight:bold}
.page__footer-follow .social-icons a{white-space:nowrap}
div.highlighter-rouge,figure.highlight{position:relative;margin-bottom:1em;padding:1em;border:1px solid #f2f3f3;border-radius:4px;background-color:#fafafa;box-shadow:0 1px 1px rgba(0,0,0,0.125)}
div.highlighter-rouge:before,figure.highlight:before{position:absolute;top:0;right:0;padding:0.5em;background-color:#f2f3f3;content:"\f121";font-family:"fontawesome" !important;font-size:.75em;line-height:1;text-transform:none;speak:none}
div.highlighter-rouge .highlight,figure.highlight .highlight{margin:0;font-family:Monaco,Consolas,"Lucida Console",monospace;font-size:.6875em;line-height:1.8}
.highlight table td{padding:5px}
.highlight table pre{margin:0}

#main{
	max-width:925px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	margin-top:2em;
	padding-left:1em;
	padding-right:1em;
	animation:intro 0.3s both;
	animation-delay:0.35s
}
#main:after{
	content:" ";
	display:block;
	clear:both
}
#main::after{
	clear:both;
	content:"";
	display:table
}
@media (min-width: 80em){
	#main{
		max-width:1280px
		}
}

.sidebar{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);clear:both;margin-bottom:1em}
.sidebar::after{clear:both;content:"";display:table}
@media (min-width: 63.8125em){
.sidebar{width:15.2542372881%;float:left;margin-right:1.6949152542%;opacity:1;-webkit-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out}
.sidebar:hover{opacity:1}
}
@media (min-width: 80em){
.sidebar{padding-right:0}
}
.sidebar h2,.sidebar h3,.sidebar h4,.sidebar h5,.sidebar h6{
margin-bottom:0;
font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif
}
.sidebar h3,.sidebar h4{
font-size:1em
}
.sidebar p,.sidebar li{
font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
font-size:.75em;
line-height:1.5
}
.archive__item h2 a{
	text-decoration: none;
	color: #fff;
}
@media (min-width: 80em){.sidebar__right{width:0px}}
.author__avatar{display:table-cell;vertical-align:top;width:36px;height:36px}@media (min-width: 63.8125em){.author__avatar{display:block;width:auto;height:auto}}
.author__avatar img{max-width:175px;border-radius:50%}@media (min-width: 63.8125em){.author__avatar img{padding:5px;border:1px solid #f2f3f3}}
.author__content{display:table-cell;vertical-align:top;padding-left:15px;padding-right:25px;line-height:1}@media (min-width: 63.8125em){.author__content{display:block;width:100%;padding-left:0;padding-right:0}}
.author__name{margin:0}@media (min-width: 63.8125em){.author__name{margin-top:10px;margin-bottom:10px}}
.sidebar .author__name{font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;font-size:1em}
.author__bio{margin:0}@media (min-width: 63.8125em){.author__bio{margin-top:10px;margin-bottom:20px}}
.author__urls-wrapper{position:relative;display:table-cell;vertical-align:middle;font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;z-index:10;position:relative;cursor:pointer}
.author__urls-wrapper li:last-child a{margin-bottom:0}@media (min-width: 63.8125em){.author__urls-wrapper{display:block}}
.author__urls-wrapper button{margin-bottom:0}
@media (min-width: 63.8125em){.author__urls-wrapper button{display:none}}
.author__urls{
	display:none;
	position:absolute;
	right:0;
	margin-top:15px;
	padding:10px;
	list-style-type:none;
	border:1px solid #f2f3f3;
	border-radius:4px;
	background: #252525;
	z-index:-1;
	box-shadow:0 0 10px rgba(0,0,0,0.25);
	cursor:default
}
@media (min-width: 63.8125em){
	.author__urls{
		display:block;
		position:relative;
		margin:0;
		padding:0;
		border:0;
		background:transparent;
		box-shadow:none
		}
	}
.author__urls:before{display:block;content:"";position:absolute;top:-11px;left:calc(50% - 10px);width:0;border-style:solid;border-width:0 10px 10px;border-color:#f2f3f3 transparent;z-index:0}
@media (min-width: 63.8125em){.author__urls:before{display:none}}
.author__urls:after{display:block;content:"";position:absolute;top:-10px;left:calc(50% - 10px);width:0;border-style:solid;border-width:0 10px 10px;border-color:#fff transparent;z-index:1}
@media (min-width: 63.8125em){.author__urls:after{display:none}}
.author__urls li{white-space:nowrap}
.author__urls a{display:block;margin-bottom:5px;padding-right:5px;padding-top:2px;padding-bottom:2px;color:inherit;font-size:1em;text-decoration:none}
.author__urls a:hover{text-decoration:underline}/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{
	font-family:'FontAwesome';
	src:url("../fonts/fontawesome-webfont.eot?v=4.6.3");
	src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"),url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
	font-weight:normal;
	font-style:normal
}

.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.fa-map-marker:before{
	content:"";
	color: #ff0000;
 }
.fa-github-square:before{
	content:"";
	color: #fff
}
.fa-github:before{
	content:"";
}
.fa-envelope-square:before{
	content:"";
	color:#00ff00
}
.fa-university:before{
	content:"";
	color: #ffe500;
}
.fa-stack-overflow:before{
    content:""
}
